@typeparam TItem
@using Microsoft.JSInterop
@using System.Reflection
@implements IAsyncDisposable
<div class="bhs" style="@(AllowOverflow ? "" : "overflow:hidden;")">
    @if (_preRenderMode && ItemTemplate != null && _items != null)
    {
        var itemCount = GetItemsPerSlide();
        <div style="display:flex;gap: @ItemSpacing;">
            @foreach (var item in _items.Skip(SelectedIndex).Take(itemCount))
            {
                <div style="flex-grow: 1;flex-basis:0;">
                    @ItemTemplate(item)
                </div>
            }
            @if (itemCount > _items.Count())
            {
                @foreach (var _ in Enumerable.Range(0, itemCount - _items.Count()))
                {
                    <div style="flex-grow: 1;flex-basis:0;"></div>
                }
            }
        </div>
    }
    <div style="@(AllowOverflow ? $"overflow-x: clip;margin-left:-{OverflowAllowedWidthOnLeft};" : "") @(_preRenderMode ? "visibility:hidden;position:absolute;left:0;right:0;top:0;" : "")">
        <div class="bhs-container" style="--item-spacing:@ItemSpacing;--container-width:@_itemsFullWidth;--end-spacer-width:@EndSpacerWidth;width:@(AllowOverflow ? $"calc({OverflowViewportWidth} + {OverflowAllowedWidthOnLeft})" : "initial");padding-left:@(AllowOverflow? OverflowAllowedWidthOnLeft : "0");max-height: 4000px;@(EnableDrag ? $"cursor: grab;" : "") @(_maxHeight.HasValue ? $"transition: max-height 0.7s cubic-bezier(0, 1, 0, 1);max-height: {_maxHeight}px;" : "")"
             @onmousedown="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnMouseDown)"
             @onmouseup="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnMouseUp)"
             @onmouseleave="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnMouseUp)"
             @ontouchstart="EventUtil.AsNonRenderingEventHandler<TouchEventArgs>(OnTouchStart)"
             @ontouchend="EventUtil.AsNonRenderingEventHandler<TouchEventArgs>(OnTouchEnd)"
             @ref="_scrollerRef">
            <div class="bhs-content" role="list">
                @if (_items != null && ItemTemplate != null)
                {
                    var relativeWidthItemsCount = UseRelativeWidth() ? _itemsPerSlide : (int?)null;
                    @foreach (var item in _items)
                    {
                        <div class="bhs-item @(UseRelativeWidth() ? "width-per-slide" : "")" style="--items-per-slide:@(relativeWidthItemsCount ?? 1);">
                            <div style="height: 100%; @(relativeWidthItemsCount != null ? "" : $"width:{ItemWidth};") @(EnableDrag ? "user-select: none;" : "")">
                                @if (!_preRenderMode)
                                {
                                    @ItemTemplate(item)
                                }
                                else
                                {
                                    <div></div>
                                }
                            </div>
                        </div>
                    }

                    <div class="bhs-end-spacer"></div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Items
    /// </summary>
    [Parameter, EditorRequired] public IEnumerable<TItem>? Items { get; set; }

    /// <summary>
    /// Content template for each item. Use @context to access the item.
    /// </summary>
    [Parameter, EditorRequired] public RenderFragment<TItem>? ItemTemplate { get; set; }
    /// <summary>
    /// If setting true, you might want to add "overflow-x: hidden;" to an ancestor div being full-width
    /// </summary>
    [Parameter] public bool AllowOverflow { get; set; }

    /// <summary>
    /// Spacing between items
    /// </summary>
    [Parameter] public string ItemSpacing { get; set; } = "1rem";

    /// <summary>
    /// Sets the width of items. Has priority over ItemsPerSlideSelector. Consider 75vw for mobile.
    /// </summary>
    [Parameter] public string ItemWidth { get; set; } = "auto";

    /// <summary>
    /// Scroll div width, if AllowOverflow is true
    /// </summary>
    [Parameter] public string OverflowViewportWidth { get; set; } = "100%";

    /// <summary>
    /// Allowed overflow on the left, if AllowOverflow is true
    /// </summary>
    [Parameter] public string OverflowAllowedWidthOnLeft { get; set; } = "10rem";

    /// <summary>
    /// Extra space at the end to allow snapping on the last element
    /// </summary>
    [Parameter] public string EndSpacerWidth { get; set; } = "300px";

    /// <summary>
    /// Decay rate of the inertia. 1.0 means no decay (it will scroll by itself forever), 0.0 means instant stop.
    /// </summary>
    [Parameter] public double InertiaDecay { get; set; } = 0.9;

    /// <summary>
    /// Defaults to true. If false, the scroller will not respond to mouse/touch events.
    /// </summary>
    [Parameter] public bool EnableDrag { get; set; } = true;

    /// <summary>
    /// When drag is released and reached a minimum speed, the scroller will snap to the closest item (if true). Otherwise, it will just stop where it is.
    /// </summary>
    [Parameter] public bool EnableSnapping { get; set; } = true;

    /// <summary>
    /// The internal items list will grow to allow infinite scrolling. SelectedIndex will still stay within the bounds of the original items.
    /// </summary>
    [Parameter] public bool EnableLooping { get; set; }

    /// <summary>
    /// If ItemWidth is "auto", and if not null, width of item will be decided by this.
    /// This is called everytime the component is rendered. Do not use StateHasChanged in this function.
    /// </summary>
    [Parameter] public Func<WidthInfo?, int>? ItemsPerSlideSelector { get; set; }

    /// <summary>
    /// Sets the selected slide index.
    /// </summary>
    [Parameter] public int SelectedIndex { get; set; }
    /// <summary>
    /// Callback on selected slide changed
    /// </summary>
    [Parameter] public EventCallback<int> SelectedIndexChanged { get; set; }
    /// <summary>
    /// Callback on landing on an index
    /// </summary>
    [Parameter] public EventCallback<int> OnSnapped { get; set; }
    /// <summary>
    /// Temporary parameter to help developers understand production issues.
    /// </summary>
    [Parameter] public bool LogToConsole { get; set; }
    /// <summary>
    /// Adjusts the height of the items to the highest visible item on snap.
    /// </summary>
    [Parameter] public bool AdjustHeightOnSnap { get; set; }

    [Inject] private IJSRuntime Js { get; set; } = null!;

    private bool AllowCallbacks => _goToIndexAfterRender == null && ScrollerModule != null && !_preRenderMode;

    private List<TItem>? _realItems;
    private List<TItem>? _items;
    private ElementReference? _scrollerRef;
    private IJSObjectReference? _scrollerModule;
    private IJSObjectReference? ScrollerModule => _isDisposed ? null : _scrollerModule;
    private DotNetObjectReference<HorizontalScroller<TItem>>? _dotNetRef;
    private string _itemsFullWidth = "75vw";
    private bool _needResnapAfterResize;
    private WidthInfo? _widthInfo;
    private int _localSelectedIndex; // local index
    private int? _goToIndexAfterRender;
    private bool _isDragging;
    private bool _preRenderMode;
    private bool _initialized;
    private bool _isDisposed;
    private int? _realItemCount;
    private int _itemsPerSlide = 1;
    private double? _maxHeight;

    protected override void OnInitialized()
    {
        _preRenderMode = UseRelativeWidth();
    }

    protected override void OnParametersSet()
    {
        if (Items == null)
            return;

        _itemsPerSlide = GetItemsPerSlide();
        _realItems = Items.ToList();
        _realItemCount = _realItems.Count;
        _items = _realItems.ToList();

        if (_items == null || ItemTemplate == null)
            _preRenderMode = false;
        ManageLoopItems();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Items == null)
            return;

        var requiredSelectedIndex = PublicIndexToLocalIndex(SelectedIndex);
        if (ScrollerModule != null && _localSelectedIndex != requiredSelectedIndex && !_isDragging && _initialized)
        {
            LogMessage($"Scrolling to index by parameter : {requiredSelectedIndex}");
            await SnapToIndexAsync(requiredSelectedIndex, false);
        }
    }

    protected override bool ShouldRender()
    {
        var should = base.ShouldRender();
        if (should)
        {
            _itemsPerSlide = GetItemsPerSlide();
            ManageLoopItems();
        }

        return should;
    }

    private void ManageLoopItems()
    {
        if (EnableLooping && _realItems?.Any() == true)
            while (_localSelectedIndex > _items.Count - 30)
                _items.AddRange(_realItems);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _dotNetRef ??= DotNetObjectReference.Create(this);

        await InitModule();

        if (_goToIndexAfterRender.HasValue)
        {
            var goingTo = _goToIndexAfterRender.Value;
            _goToIndexAfterRender = null;
            _needResnapAfterResize = false;
            LogMessage($"Scrolling to init position after prerender : {goingTo}");
            await SnapToIndexAsync(goingTo, true, "auto");
        }
        else if (_needResnapAfterResize)
        {
            _needResnapAfterResize = false;
            LogMessage($"Scrolling to set position after resize : {SelectedIndex}");
            await SnapToIndexAsync(SelectedIndex, false, "auto");
        }

        if (firstRender && UseRelativeWidth())
            await Task.Delay(50); // Wait for the DOM to settle after the initial render
        await SyncWidth();
        LeavePrerenderMode();
        await AdjustHeightIfNecessary();
    }

    private async Task InitModule()
    {
#if DEBUG
        string moduleLocation = "./_content/BlazorHorizontalScroller/horizontalScroller.js";
#else
        string moduleLocation = "./_content/BlazorHorizontalScroller/horizontalScroller.min.js" + "?v=" + (Assembly.GetAssembly(typeof(HorizontalScroller<string>))?.GetName().Version?.ToString() ?? "1");
#endif

        if (_scrollerModule is not null || _isDisposed)
            return;

        try
        {
            _scrollerModule = await Js.InvokeAsync<IJSObjectReference>("import", moduleLocation);

            await _scrollerModule.InvokeVoidAsync("initBhs", _scrollerRef, _dotNetRef, new
            {
                startIndex = SelectedIndex,
                inertiaDecay = (InertiaDecay),
                enableSnapping = EnableSnapping,
                enableDrag = EnableDrag,
                log = LogToConsole
            });
            _initialized = true;
        }
        catch (Exception ex) when (ex is JSDisconnectedException or TaskCanceledException or ObjectDisposedException) { }
    }

    private void LeavePrerenderMode()
    {
        if (!_preRenderMode)
            return;
        if (_widthInfo != null && _preRenderMode && SelectedIndex != 0)
            _goToIndexAfterRender = SelectedIndex;

        _preRenderMode = false;
        StateHasChanged();
    }
    /// <summary>
    /// Manually triggers a width detection, in case the parent width changed and something prevents the component to detect it.
    /// </summary>
    /// <returns></returns>
    public async Task SyncWidth()
    {
        if (ScrollerModule != null && (UseRelativeWidth()))
            _widthInfo = await SafeInvokeAsync<WidthInfo>("getSizeInfo", _scrollerRef);
        FullWidthChanged();
    }

    private async Task OnMouseDown(MouseEventArgs e)
    {
        if (ScrollerModule != null && EnableDrag)
        {
            await SafeInvokeVoidAsync("startDrag", _scrollerRef, e.ClientX);
            _isDragging = true;
        }
    }

    private async Task OnMouseUp(MouseEventArgs e)
    {
        if (ScrollerModule != null)
        {
            await SafeInvokeVoidAsync("endDrag", _scrollerRef);
            _isDragging = false;
        }
    }

    private async Task OnTouchStart(TouchEventArgs e)
    {
        if (ScrollerModule != null && e.Touches.Length > 0 && EnableDrag)
        {
            await SafeInvokeVoidAsync("startDrag", _scrollerRef, e.Touches[0].ClientX);
            _isDragging = true;
        }
    }

    private async Task OnTouchEnd(TouchEventArgs e)
    {
        if (ScrollerModule != null)
        {
            await SafeInvokeVoidAsync("endDrag", _scrollerRef);
            _isDragging = false;
        }
    }
    /// <summary>
    /// Goes to the next item
    /// </summary>
    public async Task SnapToNextItem()
    {
        if (ScrollerModule != null)
            await SafeInvokeVoidAsync("snapToNext", _scrollerRef);
    }
    /// <summary>
    /// Goes to the next slide. Will be different if ItemsPerSlideSelector returns something > 1.
    /// </summary>
    public async Task SnapToNextSlide()
    {
        var increment = GetItemsPerSlide();
        await SnapToIndexAsync(_localSelectedIndex + increment);
    }

    /// <summary>
    /// Goes to the previous item
    /// </summary>
    public async Task SnapToPreviousItem()
    {
        if (ScrollerModule != null)
            await SafeInvokeVoidAsync("snapToPrevious", _scrollerRef);
    }
    /// <summary>
    /// Goes to the previous slide. Will be different if ItemsPerSlideSelector returns something > 1.
    /// </summary>
    public async Task SnapToPreviousSlide()
    {
        var increment = -GetItemsPerSlide();
        await SnapToIndexAsync(_localSelectedIndex + increment);
    }
    /// <summary>
    /// Goes to a specific item index
    /// </summary>
    /// <param name="index"></param>
    /// <returns></returns>
    public async Task SnapToItemIndex(int index)
    {
        await SnapToIndexAsync(PublicIndexToLocalIndex(index));
    }
    /// <summary>
    /// Goes to a specific slide index. Will be different if ItemsPerSlideSelector returns something > 1.
    /// </summary>
    /// <param name="index"></param>
    /// <returns></returns>
    public async Task SnapToSlideIndex(int index)
    {
        var itemIndex = GetItemsPerSlide() * index;
        await SnapToIndexAsync(PublicIndexToLocalIndex(itemIndex));
    }

    private async Task SnapToIndexAsync(int index, bool priority = true, string speed = "smooth")
    {
        if (ScrollerModule != null)
        {
            //_selectedIndex = index;
            await SafeInvokeVoidAsync("snapToIndex", _scrollerRef, index, speed, priority);
        }
    }


    private int LocalIndexToPublicIndex(int x) => (_realItemCount ?? 0) == 0 ? 0 : x % _realItemCount.Value;
    private int PublicIndexToLocalIndex(int x) => (_realItemCount ?? 0) == 0 ? 0 : Enumerable.Range(0, _items.Count).MinBy(i => i % _realItemCount.Value == x % _realItemCount.Value ? Math.Abs(_localSelectedIndex - i) : 100000);
    private int GetItemsPerSlide() => UseRelativeWidth() ? (ItemsPerSlideSelector?.Invoke(_widthInfo) ?? 1) : 1;

    private bool UseRelativeWidth() => ItemWidth == "auto" && ItemsPerSlideSelector != null;

    [JSInvokable]
    public async Task NotifySnapToIndex(int index)
    {
        await AdjustHeightIfNecessary();

        await NotifyNearestIndexChanged(index);
        if (AllowCallbacks)
            await OnSnapped.InvokeAsync(LocalIndexToPublicIndex(index));
    }

    private async Task AdjustHeightIfNecessary()
    {
        if (AdjustHeightOnSnap && ScrollerModule != null && _scrollerRef != null)
        {
            var oldHeight = _maxHeight;
            try
            {
                _maxHeight = await SafeInvokeAsync<double?>("getMaxVisibleHeight", _scrollerRef);
            }
            catch
            {
                _maxHeight = null;
            }
            if (_maxHeight != oldHeight)
                StateHasChanged();
        }
    }

    [JSInvokable]
    public async Task NotifyNearestIndexChanged(int index)
    {
        if (_localSelectedIndex != index)
        {
            _localSelectedIndex = index;
            LogMessage($"_selectedIndex changed : {_localSelectedIndex}");
            if (AllowCallbacks)
            {
                SelectedIndex = LocalIndexToPublicIndex(index);
                await SelectedIndexChanged.InvokeAsync(SelectedIndex);
            }
        }
    }
    [JSInvokable]
    public Task ResizedParent(WidthInfo widthInfo)
    {
        _widthInfo = widthInfo;
        FullWidthChanged();
        return Task.CompletedTask;
    }

    private void FullWidthChanged()
    {
        if (_widthInfo != null)
        {
            var expectedValue = $"{_widthInfo.ParentWidth}px";
            if (expectedValue != _itemsFullWidth)
            {
                _itemsFullWidth = expectedValue;
                _needResnapAfterResize = true;
                LogMessage($"Width changed : {_itemsFullWidth}");
                StateHasChanged();
            }
        }
    }

    private async ValueTask SafeInvokeVoidAsync(string identifier, params object?[]? args)
    {
        if (!_isDisposed && _scrollerModule is null)
            throw new Exception("Scroller module not initialized");
        try
        {
            await ScrollerModule.InvokeVoidAsync(identifier, args);
        }
        catch (Exception ex) when (ex is JSDisconnectedException or TaskCanceledException or ObjectDisposedException) { }
    }


    private async ValueTask<TValue?> SafeInvokeAsync<TValue>(string identifier, params object?[]? args)
    {
        if (!_isDisposed && _scrollerModule is null)
            throw new Exception("Scroller module not initialized");
        try
        {
            return await ScrollerModule.InvokeAsync<TValue>(identifier, args);
        }
        catch (Exception ex) when (ex is JSDisconnectedException or TaskCanceledException or ObjectDisposedException) { }
        return default;
    }

    public async ValueTask DisposeAsync()
    {
        _isDisposed = true;
        try
        {
            if (_scrollerModule != null)
                await _scrollerModule.DisposeAsync();
        }
        catch (Exception)
        {
            // ignored
        }

        _dotNetRef?.Dispose();
    }

    private void LogMessage(string message)
    {
        if (!LogToConsole)
            return;
        Console.WriteLine(message);
    }

    private static class EventUtil
    {
        public static Func<TValue, Task> AsNonRenderingEventHandler<TValue>(
            Func<TValue, Task> callback)
            => new AsyncReceiver<TValue>(callback).Invoke;

        private record AsyncReceiver<T>(Func<T, Task> Callback)
            : ReceiverBase
        { public Task Invoke(T arg) => Callback(arg); }

        private record ReceiverBase : IHandleEvent
        {
            public Task HandleEventAsync(EventCallbackWorkItem item, object? arg) =>
                item.InvokeAsync(arg);
        }
    }

}